{% extends "device/layout.html" %}

{% load i18n static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'device/device_index.css' %}">
{% endblock %}

{% block device_content %}
    <div class="device-title">
        <h2>{% trans "Mis Dispositivos" %}</h2>
        <div class="device-title__cta">
            <a class="pure-button button-icon button-primary" href="{% url "device:sync" %}">
                <i class="button-icon__icon button-icon__icon--text">
                    +
                </i>
                <span>{% trans "Sincronizar Dispositivo" %}</span>
            </a>
        </div>
    </div>

    <div class="device-list">
        {% for device in devices %}
            <div class="device">
                <i class="device__status {% if device.is_device_on %}device__status--online{% endif %}" title="{% if device.is_device_on %}{% trans "Conectado" %}{% else %}{% trans "Desconectado" %}{% endif %}"></i>
                <div class="device-content">
                    <div class="device-content__name">
                        <p class="device__title">{{ device.name }}</p>
                        <p class="device__last-seen hide-for-mobile hide-for-tablet-only">{% trans "Última vez" %}: <span>{{ device.last_seen_at|default:'-' }}</span></p>
                    </div>
                    <div class="device-content__data-container">
                        <div class="device-content__data">
                            <p>{% trans "Temp Min" %}</p>
                            <span>{{ device.min_temperature|default:'-' }} ºC</span>
                        </div>
                        <div class="device-content__data">
                            <p>{% trans "Temp Max" %}</p>
                            <span>{{ device.max_temperature|default:'-' }} ºC</span>
                        </div>
                        <div class="device-content__data device-content__data--night">
                            <p>{% trans "Modo Noche" %}</p>
                            <span {% if device.is_night_mode_enabled %}class="night-mode-enabled"{% endif %}>{% if device.is_night_mode_enabled %}{% trans "Activo" %}{% else %}{% trans "Inactivo" %}{% endif %}</span>
                        </div>
                    </div>
                    <div class="device-content__cta"><a class="pure-button button-primary" href="{% url 'device:update' device.pk %}">{% trans "Configurar" %}</a></div>

                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
