{% extends "base/base.html" %}

{% load i18n static webpush_notifications %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'device/layout.css' %}">
    {% webpush_header %}
{% endblock %}

{% block content %}
    <div id="enable-notif-wall" class="notif-wall notif-wall--hidden">
        <button class="notif-wall__close" onclick="closeWall('enable-notif-wall')">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </button>
        <div class="notif-wall__message">
            <p class="notif-wall__title">{% trans "¡Activa las Notificaciones!" %}</p>
            <p class="notif-wall__subtitle">{% trans "Así podrás recibir mensajes del Asistente Digital en este dispositivo" %}.</p>
        </div>
    </div>
    <div id="invalid-browser-wall" class="notif-wall notif-wall--hidden">
        <button class="notif-wall__close" onclick="closeWall('invalid-browser-wall')">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </button>
        <div class="notif-wall__message">
            <p class="notif-wall__title">{% trans "¡Este navegador no es válido!" %}</p>
            <p class="notif-wall__subtitle">{% trans "Este navegador no puede recibir notificaciones. Por favor, usa un navegador como Chrome, Firefox o Edge" %}.</p>
        </div>
    </div>
    <div id="notification-blocked-wall" class="notif-wall notif-wall--hidden">
        <button class="notif-wall__close" onclick="closeWall('notification-blocked-wall')">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
        </button>
        <div class="notif-wall__message">
            <p class="notif-wall__title">{% trans "¡Las notificaciones están bloqueadas!" %}</p>
            <p class="notif-wall__subtitle">{% trans "Por favor, habilita las notificaciones en el navegador y recarga la página" %}.</p>
        </div>
    </div>
    <main class="device-layout">
        <div class="device-menu-container">
            <div class="container device-menu">
                <menu class="device-menu hide-for-mobile">
                    <p><a href="{% url "device:index" %}">{% trans "Mis Dispositivos" %}</a></p>
                </menu>
                <div class="device-menu__notf">
                    <button class="pure-button button-icon button-alt button-notification" id="webpush-notification-button">
                        <i class="button-icon__icon button-notification__icon button-notification__icon--enable">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                        </i>
                        <i class="button-icon__icon button-notification__icon button-notification__icon--disable">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell-off"><path d="M13.73 21a2 2 0 0 1-3.46 0"></path><path d="M18.63 13A17.89 17.89 0 0 1 18 8"></path><path d="M6.26 6.26A5.86 5.86 0 0 0 6 8c0 7-3 9-3 9h14"></path><path d="M18 8a6 6 0 0 0-9.33-5"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                        </i>
                        <span class="button-notification__text button-notification__text--enable">{% trans "Activar Notificaciones" %}</span>
                        <span class="button-notification__text button-notification__text--disable">{% trans "Desactivar Notificaciones" %}</span>
                    </button>
                    <span id="invalid-browser-msg" class="error-msg" style="display: none"><strong>{% trans "¡Este navegador no es válido!" %}</strong></span>
                    <span id="notification-blocked-msg" class="error-msg" style="display: none"><strong>{% trans "¡Las notificaciones están bloqueadas!" %}</strong></span>
                </div>
            </div>
        </div>

        <article class="content container">
            {% block device_content %}
            {% endblock %}
        </article>
    </main>
    {% if alert %}
    <div id="alert" class="alert {% if alert.is_error %}alert--error{% endif %}">
        {{ alert.msg }}
    </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        /*
            Alert handler
         */
        document.addEventListener('DOMContentLoaded', function () {
            const alert = document.getElementById('alert')

            if (!!alert) {
                alert.classList.add('alert--visible');

                setTimeout(function() {
                    alert.classList.remove('alert--visible')
                }, 3000);
            }
        })
    </script>
{% endblock %}