{% extends "device/layout.html" %}

{% load i18n static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'device/forms.css' %}">
{% endblock %}


{% block device_content %}
    <p style="margin-bottom: 1rem"><a href="{% url 'device:index' %}" >< {% trans "Volver a Mis Dispositivos" %}</a></p>
    <h2>{% trans "Sincronizar Dispositivo" %}</h2>
    <form method="post" class="pure-form pure-form-stacked">
        {% csrf_token %}
        <div class="form-box">
            <h3 class="form-box__title">{% trans "Código de Sincronización" %}</h3>
            <label for="{{ form.sync_code.id_for_label }}"></label>
            {{ form.sync_code }}
            <span class="pure-form-message">{% trans "Introduzca el código que se muestra en la pantalla del dispositivo" %}.</span>
            {% if form.sync_code.errors.0 %}
                <span class="pure-form-message error-msg">{{ form.sync_code.errors.0 }}</span>
            {% endif %}
        </div>
        <p class="form-submit">
            <button type="submit" class="pure-button button-primary">
                {% trans "Sincronizar Dispositivo" %}
            </button>
        </p>
    </form>
{% endblock %}