{% extends "device/layout.html" %}

{% load i18n static %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'device/forms.css' %}">
{% endblock %}

{% block device_content %}
    <p style="margin-bottom: 1rem"><a href="{% url 'device:index' %}" >< {% trans "Volver a Mis Dispositivos" %}</a></p>
    <h2>{% trans "Configurar" %}: {{ original.name }}</h2>
    <form method="post" class="pure-form pure-form-stacked">
        {% csrf_token %}
        <div class="form-box">
            <h3 class="form-box__title">{% trans "Nombre del Dispositivo" %}</h3>
            <label for="{{ form.name.id_for_label }}">{% trans "Nombre" %}</label>
            {{ form.name }}
            <span class="pure-form-message">{% trans "El nombre del dispositivo le ayudará a reconocerlo en la lista" %}.</span>
            {% if form.name.errors.0 %}
                <span class="pure-form-message error-msg">{{ form.name.errors.0 }}</span>
            {% endif %}
        </div>
        <div class="form-box">
            <h3 class="form-box__title">{% trans "Factores Ambientales" %}</h3>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.min_temperature.id_for_label }}">{% trans "Temperatura Mínima" %}</label>
                    <div class="temperature-input">{{ form.min_temperature }}</div>
                </div>
                <div>
                    <label for="{{ form.max_temperature.id_for_label }}">{% trans "Temperatura Máxima" %}</label>
                    <div class="temperature-input">{{ form.max_temperature }}</div>
                </div>
            </div>
            {% for error in form.errors.min_temperature.as_data %}
                {% if error.code == 'max_value' %}
                    <span class="pure-form-message error-msg">{% trans "La temperatura mínima debe ser inferior a cuarenta grados" %}.</span>
                {% endif %}
                {% if error.code == 'min_value' %}
                    <span class="pure-form-message error-msg">{% trans "La temperatura mínima debe ser superior a 0" %}.</span>
                {% endif %}
            {% endfor %}
            {% for error in form.errors.max_temperature.as_data  %}
                {% if error.code == 'invalid_temp' %}
                    <span class="pure-form-message error-msg">{% trans "La temperatura máxima debe ser superior a la mínima" %}.</span>
                {% endif %}
                {% if error.code == 'max_value' %}
                    <span class="pure-form-message error-msg">{% trans "La temperatura máxima debe ser inferior a cuarenta grados" %}.</span>
                {% endif %}
                {% if error.code == 'min_value' %}
                    <span class="pure-form-message error-msg">{% trans "La temperatura máxima debe ser superior a 0" %}.</span>
                {% endif %}
            {% endfor %}
            <div class="form-box__row">
                <div>
                    <label for="{{ form.night_mode_start.id_for_label }}">{% trans "Activar Modo Nocturno:" %}</label>
                    {{ form.night_mode_start }}
                </div>
                <div>
                    <label for="{{ form.night_mode_end.id_for_label }}">{% trans "Desactivar Modo Nocturno:" %}</label>
                    {{ form.night_mode_end }}
                </div>
            </div>
        <span class="pure-form-message">{% trans "La hora debe ser en horario de Europa/Madrid" %}.</span>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.is_night_mode_enabled.id_for_label }}">{% trans "Modo Nocturno" %}</label>
                    <label id="night_toggle" class="night-toggle">
                        <div class="night-toggle__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon" s><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                        </div>
                        {{ form.is_night_mode_enabled }}
                    </label>
                    <span id="night_toggle_enabled" class="pure-form-message" style="display: none">{% trans "El modo nocturno está activado" %}.</span>
                </div>
            </div>
        </div>
        <div class="form-box">
            <h3 class="form-box__title">{% trans "Conectividad Wi-Fi" %}</h3>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.wifi_ssid.id_for_label }}">{% trans "Nombre de la Red (SSID)" %}</label>
                    {{ form.wifi_ssid }}
                    <span class="pure-form-message">{% trans "Introduzca el nombre de su red Wi-Fi respetando mayúsculas y minúsculas" %}.</span>
                    {% if form.wifi_ssid.errors.0 %}
                        <span class="pure-form-message error-msg">{{ form.wifi_ssid.errors.0 }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.wifi_password.id_for_label }}">{% trans "Contraseña de la Red" %}</label>
                    {{ form.wifi_password }}
                    <label><input type="checkbox" id="wifi_password_toggle" style="margin-right: 0.5rem; margin-top:0.25rem">Ver Contraseña</label>
                    {% for error in form.errors.wifi_password.as_data  %}
                        {% if error.code == 'invalid_wifi' %}
                            <span class="pure-form-message error-msg">{% trans "La configuración del Wi-Fi debe estar en blanco o completa" %}.</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-box">
            <h3 class="form-box__title">{% trans "Mensajes del Joystick" %}</h3>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.joystick_left.id_for_label }}">{% trans "Izquierda" %}</label>
                    <div class="arrow-input">
                        {{ form.joystick_left }}
                        <span class="arrow-input__arrow"><svg style="transform: rotate(-90deg)" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle fill="firebrick" cx="12" cy="12" r="10"/><polyline fill="white" points="16 12 12 8 8 12"/><line fill="white" x1="12" y1="16" x2="12" y2="8"/></svg></span>
                    </div>
                </div>
            </div>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.joystick_up_left.id_for_label }}">{% trans "Arriba-Izquierda" %}</label>
                    <div class="arrow-input">
                        {{ form.joystick_up_left }}
                        <span class="arrow-input__arrow"><svg style="transform: rotate(-45deg)" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle fill="green" cx="12" cy="12" r="10"/><polyline fill="white" points="16 12 12 8 8 12"/><line fill="white" x1="12" y1="16" x2="12" y2="8"/></svg></span>
                    </div>
                </div>
            </div>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.joystick_up.id_for_label }}">{% trans "Arriba" %}</label>
                    <div class="arrow-input">
                        {{ form.joystick_up }}
                        <span class="arrow-input__arrow"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle fill="blue" cx="12" cy="12" r="10"/><polyline fill="white" points="16 12 12 8 8 12"/><line fill="white" x1="12" y1="16" x2="12" y2="8"/></svg></span>
                    </div>
                </div>
            </div>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.joystick_up_right.id_for_label }}">{% trans "Arriba-Derecha" %}</label>
                    <div class="arrow-input">
                        {{ form.joystick_up_right }}
                        <span class="arrow-input__arrow"><svg style="transform: rotate(45deg)" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle fill="magenta" cx="12" cy="12" r="10"/><polyline fill="white" points="16 12 12 8 8 12"/><line fill="white" x1="12" y1="16" x2="12" y2="8"/></svg></span>
                    </div>
                </div>
            </div>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.joystick_right.id_for_label }}">{% trans "Derecha" %}</label>
                    <div class="arrow-input">
                        {{ form.joystick_right }}
                        <span class="arrow-input__arrow"><svg style="transform: rotate(90deg)" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle fill="cyan" cx="12" cy="12" r="10"/><polyline fill="white" points="16 12 12 8 8 12"/><line fill="white" x1="12" y1="16" x2="12" y2="8"/></svg></span>
                    </div>
                </div>
            </div>
            <div class="form-box__row">
                <div>
                    <label for="{{ form.joystick_down.id_for_label }}">{% trans "Abajo" %}</label>
                    <div class="arrow-input">
                        {{ form.joystick_down }}
                        <span class="arrow-input__arrow"><svg style="transform: rotate(180deg)" xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="black" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-circle"><circle fill="white" cx="12" cy="12" r="10"/><polyline fill="black" points="16 12 12 8 8 12"/><line fill="black" x1="12" y1="16" x2="12" y2="8"/></svg></span>
                    </div>
                    <span class="pure-form-message">{% trans "El sector inferior es más grande que los demás, por lo que le recomendamos utilizarlo para cancelar la última acción." %}</span>
                </div>
            </div>
        </div>
        <p class="form-submit">
            <button type="submit" class="pure-button button-primary">
                {% trans "Guardar Configuración" %}
            </button>
        </p>
    </form>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    /*
        Night Mode Toggle. Password Wifi Toggle
     */
    document.addEventListener("DOMContentLoaded", function() {
        const nightToggleElm = document.getElementById("night_toggle");
        const nightToggleElmCheckbox = nightToggleElm.getElementsByTagName('input')[0];
        const nightToggleHelpText = document.getElementById("night_toggle_enabled");

        if (nightToggleElmCheckbox.checked) {
            nightToggleElm.classList.add("night-toggle--checked");
            nightToggleHelpText.style.display = 'block';
        }

        nightToggleElmCheckbox.addEventListener("change", function () {
            if (nightToggleElmCheckbox.checked) {
                nightToggleElm.classList.add("night-toggle--checked");
                nightToggleHelpText.style.display = 'block';
            } else {
                nightToggleElm.classList.remove("night-toggle--checked");
                nightToggleHelpText.style.display = 'none';
            }
        })

        /* Wifi Pass */
        const wifiPasswordToggle = document.getElementById('wifi_password_toggle');
        const wifiPasswordInput = document.getElementById('id_wifi_password');

        wifiPasswordToggle.addEventListener("change", function () {
            if (wifiPasswordToggle.checked) {
                wifiPasswordInput.setAttribute('type', 'text');
            } else {
                wifiPasswordInput.setAttribute('type', 'password');
            }
        })
    })
    </script>
{% endblock %}