{% extends "base/base.html" %}

{% load static i18n %}

{% block extra_head %}
      <link rel="stylesheet" href="{% static 'auth.css' %}">
{% endblock %}

{% block content %}
    <main class="auth-page">
        <div class="container">
            <div class="auth-form-container">
                <div class="auth-form">
                    <h1>{% trans "Crear una cuenta" %}</h1>
                    <div class="auth-form__content">
                        <form method="post" class="pure-form pure-form-stacked">
                            {% csrf_token %}
                            <label for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>
                            {{ form.email }}
                            {% if form.email.errors.0 %}
                                <span class="pure-form-message error-msg">{% trans "Ya existe una cuenta asociada a este email" %}</span>
                            {% endif %}
                            <label for="{{ form.password1.id_for_label }}">{% trans "Contraseña" %}</label>
                            {{ form.password1 }}
                            {% if form.password1.errors.0 %}
                                <span class="pure-form-message error-msg">{% trans "La contraseña debe tener al menos 6 caractéres" %}</span>
                            {% endif %}
                            <label for="{{ form.password2.id_for_label }}">{% trans "Confirmar Contraseña" %}</label>
                            {{ form.password2 }}
                            {% if form.password2.errors.0 %}
                                <span class="pure-form-message error-msg">{% trans "Las contraseñas deben coincidir" %}</span>
                            {% endif %}
                            {% if form.non_field_errors.0 %}
                            <span class="pure-form-message error-msg">{% trans "Las credenciales son incorrectas" %}</span>
                            {% endif %}
                            <button class="pure-button button-primary">{% trans "Crear Cuenta" %}</button>
                        </form>
                        <hr>
                        <p>{% trans "¿Ya tienes una cuenta?" %}</p>
                        <p class="mt-sm"><a href="{% url 'user:login' %}">{% trans "Acceder a mi cuenta" %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}