.device-title {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 2rem;
    justify-content: space-between;
}

.device-title .device-title__cta {
    margin-top: 0.5rem;
}

.device {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1rem 2rem 1rem 4rem;
    position: relative;
}

.device:not(:last-child) {
    margin-bottom: 2rem;
}

.device__status {
    background-color: #f1f1f1;
    border-radius: 100%;
    display: block;
    height: 1rem;
    left: 1rem;
    position: absolute;
    top: 1rem;
    width: 1rem;
}

.device__status.device__status--online {
    background-color: #a8dda8;
}

.device .device__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.device .device__last-seen {
    margin-top: 1rem;
}

.device .device__last-seen span {
    font-style: italic;
}

.device-content {
    align-items: stretch;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.device-content__name {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    justify-content: space-between;
}

.device-content__data-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    flex-basis: 30%;
    margin-right: 6rem;
}

.device-content__data {
    text-align: center;
}

.device-content__data p {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.device-content__data span {
    color: #020024;
    font-size: 1.5rem;
    font-weight: bold;
}

.device-content__data.device-content__data--night span {
    color: #7d7e80;
    font-size: 1.25rem;
}

.device-content__data.device-content__data--night span.night-mode-enabled {
    color: #009655;
}

.device-content__cta {
    align-self: center;
}

/* Mobile & Tablet */
@media (max-width: 987px) {
    .device {
        padding: 1rem;
    }

    .device .device__status {
        left: auto;
        right: 1rem;
    }

    .device-content {
        flex-direction: column;
    }

    .device-content__name {
        margin-bottom: 2rem;
    }

    .device-content__data-container {
        flex-basis: unset;
        justify-content: space-around;
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .device-content__cta {
        width: 100%;
    }

    .device-content__cta .button-primary {
        width: 100%;
    }
}

/* Mobile Only */
@media (max-width: 767px) {
    .device-title .device-title__cta {
        width: 100%;
    }
    .device-title .device-title__cta .button-primary {
        width: 100%;
    }

    .device-content__data-container {
        justify-content: space-between;
    }
}