.form-box {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 2rem;
    padding: 1rem;
}

.form-box__title {
    margin-top: 0;
}

.form-box__row {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
}

.form-box__row div:not(:first-of-type) {
    margin-left: 2rem;
}

.form-box__row:not(:first-of-type) {
    margin-top: 1rem;
}

.form-box__row .temperature-input {
    display: inline-flex;
    margin-top: 0.25rem;
    position: relative;
}

.form-box__row .temperature-input input {
    margin: 0;
    padding-right: 3rem !important;
    width: 8rem;
}

.form-submit {
    text-align: right;
}

.temperature-input::after {
    align-items: center;
    background-color: #eee;
    border-bottom-right-radius: 0.25rem;
    border-left: 1px solid #ccc;
    border-top-right-radius: 0.25rem;
    bottom: 1px;
    color: #474948;
    content: "ºC";
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-right: 2px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 2rem;
}

.night-toggle {
    background-color: #eee;
    border: 2px solid #7a7a7a;
    border-radius: 4rem;
    cursor: pointer;
    height: 2.5rem;
    padding: 0.125rem;
    position: relative;
    width: 4.25rem;
}

.night-toggle input {
    height: 0;
    width: 0;
}

.night-toggle__icon {
    align-items: center;
    background-color: #9b9b9b;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    left: 0.125rem;
    padding: 0.25rem;
    position: absolute;
    transition: 0.3s ease all;
}

.night-toggle__icon svg {
    fill: #545454;
    stroke: none;
    stroke-width: 1;
}

.night-toggle.night-toggle--checked {
    background-color: #E7F8FA;
    border: 2px solid #28abb9;
}

.night-toggle.night-toggle--checked .night-toggle__icon {
    background-color: #28abb9;
    transform: translateX(1.75rem);
}

.night-toggle.night-toggle--checked .night-toggle__icon svg {
    fill: white;
    stroke: none;
    stroke-width: 1;
}

.arrow-input {
    align-items: center;
    display: inline-flex;
}

.arrow-input .arrow-input__arrow {
    margin-left: 0.5rem;
}

@media (max-width: 767px) {
    input:not([type="checkbox"]) {
        width: 100%;
    }

    .form-box__row > div {
        width: 100%;
    }

    .form-submit .button-primary {
        width: 100%;
    }

    .arrow-input {
        width: 100%;
    }
}