.device-menu-container {
    background-color: #E7F8FA;
    box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
    padding: 1rem 0;
}

@media (min-width: 968px) {
    .device-menu-container {
        min-height: 3.5rem;
    }
}

.device-menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.device-menu a {
    border-bottom: 3px solid #28abb9;
    padding: 0 0.5rem 0.75rem;
}

.content {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 767px) {
    .device-menu .device-menu__notf {
        flex-grow: 1;
        text-align: center;
    }

    .device-menu .device-menu__notf button {
        width: 100%;
    }
}

.alert {
    background-color: #a8dda8;
    border-radius: 0.25rem;
    border: 2px solid #009655;
    bottom: -5rem;
    color: black;
    font-weight: bold;
    left: 50%;
    max-width: 50rem;
    padding: 0.5rem 1rem;
    position: fixed;
    opacity: 0.9;
    text-align: center;
    transform: translate(-50%);
    transition: bottom cubic-bezier(0.68, -0.55, 0.27, 1.55) 500ms;
    width: calc(100vw - 2rem);
}

.alert.alert--error {
    background-color: #ffcccb;
    border-color: #cc0000;
    color: #cc0000;
}

.alert.alert--visible {
    bottom: 1rem;
}

@media (min-width: 968px) {
    .alert.alert--visible {
        bottom: 2rem;
    }
}

.notif-wall {
    background-color: black;
    bottom: 0;
    left: 0;
    opacity: 0.95;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.notif-wall.notif-wall--hidden {
    display: none;
}

.notif-wall .notif-wall__message {
    color: white;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 30%;
    width: calc(100% - 1rem);
}

.notif-wall .notif-wall__title {
    font-weight: bold;
    font-size: 3rem;
}

.notif-wall .notif-wall__subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.notif-wall .notif-wall__close {
    align-items: center;
    background: #eee;
    border: none;
    border-radius: 100%;
    color: inherit;
    display: inline-flex;
    font: inherit;
    line-height: normal;
    margin: 0;
    overflow: visible;
    padding: 0.5rem;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: auto;
}

@media (min-width: 968px) {
    .notif-wall .notif-wall__close {
        right: 15vw;
        top: 10vh;
    }
}


.button-notification .button-notification__text,
.button-notification .button-notification__icon {
    display: none;
}

.button-notification.button-notification--enable .button-notification__text.button-notification__text--enable,
.button-notification.button-notification--enable .button-notification__icon.button-notification__icon--enable {
    display: inline-block;
}

.button-notification.button-notification--disable .button-notification__text.button-notification__text--disable,
.button-notification.button-notification--disable .button-notification__icon.button-notification__icon--disable {
    display: inline-block;
}
