.auth-page {
    background: #E7F8FA;
    min-height: calc(100vh - 4rem);
}

.auth-page .container {
    padding-top: 8rem;
}

.auth-form-container {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    margin: 4rem auto;
    max-width: 20rem;
}

.auth-form-container h1 {
    background: #020024;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    text-align: center;
    width: 100%;
}

.auth-form {
    background-color: white;
    border-radius: 0.25rem;
}

.auth-form__content {
    padding: 1rem;
}

label:not(:first-of-type) {
    margin-top: 1rem;
}

input {
    width: 100%;
}

hr {
    margin-bottom: 1rem;
    margin-top: 1rem;
    opacity: 0.25;
}

.auth-form .button-primary {
    margin-top: 1rem;
    width: 100%;
}

/* Mobile Only */
@media (max-width: 767px) {
    .auth-page .container {
        padding-top: 2rem;
    }

    .auth-form-container {
        margin: 0;
        max-width: calc(100vw - 2rem);
    }
}

