* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

h2 {
    margin-top: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}

menu {
    padding: 0;
    margin: 0;
}

input[type="time"] {
    background-color: white;
}

/* Container */
.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Header */
.header {
    background: #020024;
    color: white;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.header__content {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header__title {
    color: white;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: bold;
}

.header-menu {
    align-items: center;
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
}

.header-menu li:not(:last-child) {
    margin-right: 2rem;
}

.header__menu .hamburger {
    display: none;
}

@media (max-width: 767px) {

    .header__menu .hamburger {
        display: block;
    }

    .header-menu {
        display: none;
    }

    .header-menu.header-menu--mb-visible {
        align-items: stretch;
        background: white;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
        left: 0;
        padding: 1rem;
        position: fixed;
        text-align: center;
        right: 0;
        top: 3.875rem;
        z-index: 1;
    }

    .header-menu li:not(:last-child) {
        margin-right: 0;
    }

    .header-menu li:first-child {
        order: 1;
    }

    .header-menu li a.button-primary {
        margin-bottom: 1rem;
        width: 100%;
    }
}

/* Footer */

.footer {
    background: #020024;
    color: white;
    padding: 3rem 0 1rem;
    text-align: center;
}

.footer__buttons .button-primary:first-child {
    margin-right: 1rem;
}

.copyright {
    margin-top: 4rem;
}


@media (max-width: 993px) {
    .footer {
        padding: 2rem 0.5rem 1rem;
        text-align: center;
    }

    .footer__buttons {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .footer__buttons .button-primary {
        width: 70vw;
    }

    .footer__buttons .button-primary:first-child {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}

/* CTAs */
a {
    color: #28abb9;
    font-weight: bold;
    text-decoration: none;
}

.button-primary {
    background: #28abb9;
    color: white;
    border-bottom: 2px solid #196e77;
    font-weight: bold;
    letter-spacing: 1px;
}

.button-alt {
    background: white;
    border: 2px solid #28abb9;
    border-radius: 0.25rem;
    color: #28abb9;
    font-weight: bold;
    letter-spacing: 1px;
}

.button-icon {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

.button-icon .button-icon__icon {
    margin-right: 0.75rem;
}

.button-icon .button-icon__icon:not(.button-icon__icon--text) {
    position: relative;
    top: 1px;
    width: 1.125rem;
}

.button-icon .button-icon__icon.button-icon__icon--text {
    font-size: 1.5rem;
    line-height: 1;
}

.button-icon span {
    flex-grow: 1;
    text-align: center;
}

/* Fonts */
.fs-xl {
    font-size: 2rem;
}

.fs-lg {
    font-size: 1.5rem;
}

.f-italic {
    font-style: italic;
}

/* Margins */
.mt-lg {
    margin-top: 1.5rem;
}
.mt-md {
    margin-top: 1rem;
}
.mt-sm {
    margin-top: 0.75rem;
}

.mb-sm {
    margin-bottom: 0.5rem;
}
.ml-md {
    margin-left: 1rem;
}

/* Form */
.pure-form-message {
    margin-top: 0.5rem;
}
.error-msg {
    color: #cc0000;
}


/* Visibility Classes */
@media (min-width: 768px) {
    .hide-for-tablet {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 993px) {
    .hide-for-tablet-only {
        display: none !important;
    }
}

@media (min-width: 993px) {
    .hide-for-desktop {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hide-for-mobile {
        display: none !important;
    }
}

/* Hamburguers */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0.5rem;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #28abb9; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #28abb9;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
