.hero {
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero .hero__cover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.6951155462184874) 51%, rgba(40,171,185,0.2777485994397759) 100%);
    bottom: -1px;
    height: calc(100% + 2px);
    left: 0;
    position: absolute;
    right: 0;
    top: -1px;
}

.hero .hero__content {
    align-items: flex-start;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 24rem;
    padding: 2rem 0;
    position: relative;
}

.hero .hero__subtitle {
    margin-bottom: 2rem;
}

.hero .hero__subtitle .button-primary:first-child {
    margin-right: 1rem;
}

.section {
    padding: 3rem 0;
}

.section__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.section__text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 30rem;
}

.section__img img {
    height: 12rem;
}

.section__text p {
    line-height: 1.5;
    font-size: 1.25rem;
}

.section.section--notf {
    background: #2d6187;
    color: white;
}

.section__img.section__img--notf {
    background: #e7f8fa;
    border-radius: 100%;
}

.section__img.section__img--notf img {
    border-radius: 100%;
}


.section.section--app {
    background: #e7f8fa;
}

.section.section--temp {
    background: #2d6187;
    color: white;
}

.section__img.section__img--temp img {
    height: 9rem;
}

.footer {
    background: #020024;
    color: white;
    padding: 3rem 0 1rem;
    text-align: center;
}

.footer__buttons .button-primary:first-child {
    margin-right: 1rem;
}

.copyright {
    margin-top: 4rem;
}



@media (max-width: 992px) {
    .hero .hero__cover {
        background: rgba(2, 0, 36, 0.7);
        bottom: 0;
        height: 100%;
        top: 0;
    }

    .hero .hero__content {
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    .hero .hero__subtitle {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1rem;
        margin-top: 4rem;
    }

    .hero .hero__subtitle .button-primary {
        width: 70vw;
    }

    .hero .hero__subtitle .button-primary:first-child {
        margin-bottom: 1rem;
        margin-right: 0;
    }

    .section__content {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .section__img {
        margin-top: 2rem;
    }

    .section--app .section__content {
        flex-direction: column-reverse;
    }

    .footer {
        padding: 2rem 0.5rem 1rem;
        text-align: center;
    }

    .footer__buttons {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .footer__buttons .button-primary {
        width: 70vw;
    }

    .footer__buttons .button-primary:first-child {
        margin-bottom: 1rem;
        margin-right: 0;
    }
}