{% load static i18n %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block meta_title %}Asistente Digital para Personas Dependientes{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Asistente Digital para Personas Dependientes. Comunicación inmediata entre cuidador y paciente con solo mover un dedo.{% endblock %}">
    <meta name="author" content="Alejandro Diaz">

    {% comment %}RESPONSIVE{% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %}Favicon{% endcomment %}
    <link rel="apple-touch-icon" sizes="180x180" href="{%  static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{%  static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{%  static 'favicon/safari-pinned-tab.svg" color="#5bbad5' %}">
    <link rel="shortcut icon" href="{%  static 'favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="{%  static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#2d89ef">

    {% comment %}Pure CSS{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'common.css' %}">
    {% block extra_head  %}
    {% endblock %}

</head>

<body>
    {% block header %}
        <header class="header">
            <div class="container header__content">
                <a class="header__title" href="{% url 'home' %}">ADpd</a>
                <div class="header__menu">
                    <div class="hamburger hamburger--spin hide-for-tablet" role="button" id="hamburger">
                        <div class="hamburger-box">
                          <div class="hamburger-inner"></div>
                        </div>
                      </div>
                    {% if not user.is_authenticated or True %}
                        <ul class="header-menu show-mobile" id="header-menu">
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'user:login' %}">{% trans "Acceder a mi cuenta" %}</a></li>
                                <li><a class="pure-button button-primary" href="{% url 'user:signup' %}">{% trans "Crear una cuenta" %}</a></li>
                            {% else %}
                                <li><a href="{% url 'user:logout' %}">{% trans "Cerrar Sesión" %}</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script>
        var hamburgerButton = document.getElementById('hamburger');
        var headerMenu = document.getElementById('header-menu');

        hamburgerButton.addEventListener('click', function(event) {
           hamburgerButton.classList.toggle('is-active');
           headerMenu.classList.toggle('header-menu--mb-visible')
        });
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>