{% extends "base/base.html" %}

{% load i18n static %}

{% block extra_head %}
      <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <main>
        <div class="hero" style="background-image: url({% static 'img/home_bg.jpg' %})">
            <div class="hero__cover"></div>
            <div class="hero__content container">
                <div class="hero__title">
                    <h1>{% trans "Asistente Digital para Personas Dependientes" %}</h1>
                    <p class="fs-lg mt-lg mb-sm">
                        {% blocktrans %}
                            Comunicación inmediata entre cuidador y paciente.
                        {% endblocktrans %}
                    </p>
                    <p class="f-italic">
                        {% blocktrans %}
                            Sin escribir. Sin usar la voz. Con solo un dedo.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="hero__subtitle">
                    {% if not user.is_authenticated %}
                        <a class="pure-button button-primary" href="{% url 'user:signup' %}">{% trans "Crear una Cuenta" %}</a>
                        <a class="pure-button button-primary" href="{% url 'user:login' %}">{% trans "Acceder a mi Cuenta" %}</a>
                    {% else %}
                        <a class="pure-button button-primary" href="{% url 'device:index' %}">{% trans "Ver Mis Dispositivos" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="section section--notf">
            <div class="container section__content">
                <div class="section__text">
                    <h2>{% trans "Comunicación con solo mover un dedo" %}</h2>
                    <p class="mt-md">
                        {% blocktrans %}
                           Notificar al cuidador es tan sencillo como mover un joystick. Se pueden configurar hasta 6 mensajes diferentes que variarán según la notificación.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section__img section__img--notf">
                    <img class="pure-img" src="{% static "img/mano_dispositivo.png" %}" alt="">
                </div>
            </div>
        </div>
        <div class="section section--app">
            <div class="container section__content">
                <div class="section__img section__img--app">
                    <img class="pure-img" src="{% static "img/app.png" %}" alt="">
                </div>
                <div class="section__text">
                    <h2>{% trans "Sin Instalar Nada" %}</h2>
                    <p class="mt-md">
                        {% blocktrans %}
                            Recibe notificaciones en cualquier dispositivo, ya sea un ordenador o un smartphone.
                            El Asistente Digital tan solo necesita que tengas instalado un navegador compatible como Chrome, Edge, o Firefox.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
        <div class="section section--temp">
            <div class="container section__content">
                <div class="section__text">
                    <h2>{% trans "Controla la temperatura y la luz" %}</h2>
                    <p class="mt-md">
                        {% blocktrans %}
                            El Asistente Digital notificará si la temperatura de la habitación es inadecuada. Además,
                            permite activar un modo nocturno para que, si se detecta una luz encendida, se avise al cuidador.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="section__img section__img--temp">
                    <img class="pure-img" src="{% static "img/temp_luz.png" %}" alt="">
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <h2>Empieza a utilizar tu Asistente Digital</h2>
        <div class="footer__buttons">
            {% if not user.is_authenticated %}
                <a class="pure-button button-primary" href="{% url 'user:signup' %}">{% trans "Crear una Cuenta" %}</a>
                <a class="pure-button button-primary" href="{% url 'user:login' %}">{% trans "Acceder a mi Cuenta" %}</a>
            {% else %}
                <a class="pure-button button-primary" href="{% url 'device:index' %}">{% trans "Ver Mis Dispositivos" %}</a>
            {% endif %}
        </div>

        <p class="copyright">Asistente Digital Para Personas Dependientes es un Trabajo de Fin de Grado en el área de Sistema Empotrados para la Universitat Oberta de Catalunya.</p>
        <p><small>&copy; Copyright 2020, <a href="mailto:alediaper2@uoc.edu">Alejandro Díaz</a></small></p>

    </footer>
{% endblock %}
